body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* -------------------NAVBAR-------------------------- */

.main-menu {
  display: flex;
  justify-content: space-between;
  background: #23323a;
  padding: 5px;
  position: relative;
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.main-menu ul{
  
 margin-bottom: 0px !important;

}


.main-menu ul li {
  display: inline-block;
  padding-top: 8px;
}

.main-menu li a {
  color: white;
  padding: 15px 35px;
  display: block;
  font-size: 17px;
  text-decoration: none;
 
}
.main-menu li a:hover{
background: #2f434e;
border-radius: 5px;
transition: 1s;
}

i.bi.bi-envelope-fill{
  color: #8cb6c1;
  font-size: 25px;
  padding: 18px 14px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 5px;
}
i.bi.bi-envelope-fill:hover{
  background: #2f434e;
transition: 1s;
}

i.bi.bi-three-dots-vertical {
  color: white;
  font-size: 25px;
  padding: 18px 14px;
  cursor: pointer;
  display: none;
}
i.bi.bi-three-dots-vertical:hover {
background: #2f434e;
transition: 1s;

}
.juwel{
  display: none;
}

/* -----------------------------Navbar end---------------------------- */
.banner{
  background-image: url(../image/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
  background-position: top center;
  padding: 250px 0;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.banner h1{
  color: rgb(241 21 72);
  z-index: 9999;
  font-size: 50px;
  text-align: center;
}
.banner p{
  text-align: center;
  font-size: 20px;
  color:white;
}

.banner h2{
  text-align: center;
  color: crimson;
  font-size: 30px;
}




















@media only screen and (max-width: 890px){

  /* -----------------------------navbar responsive---------------------- */
  .main-menu ul li a {
    font-size: 14px;
    padding: 15px 15px;
  }

   /* -----------------------------navbar responsive end---------------------- */


   .banner{
    background-image: url(../image/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-position: top center;
    padding:200px 0;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  

}


@media only screen and (max-width: 721px){

   /* -----------------------------navbar responsive---------------------- */
  .main-menu ul li a {
    font-size: 12px;
    padding: 15px 8px;
  }

   /* -----------------------------navbar responsive end---------------------- */
   .banner{
    background-image: url(../image/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-position: top center;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
   .banner h1{
    color: rgb(241 21 72);
    z-index: 9999;
    font-size: 35px;
    text-align: center;
  }
  .banner p{
    text-align: center;
    font-size: 15px;
    color:white;
  }
  
  .banner h2{
    text-align: center;
    color: crimson;
    font-size: 25px;
  }

}

@media only screen and (max-width: 600px){

   /* -----------------------------navbar responsive---------------------- */

  .main-menu img{
    height: 65px;
    position: relative;
    top: 0px;
  } 
  .main-menu{
    position: relative;
  }
  .main-menu ul {
    display: none;
    margin-top: 77px;
    right: 0px;
    height: auto;
    width: 260px;
    position: absolute;
    background: rgb(130, 185, 248);
    padding: 1px;
    box-shadow: 5px 1px 20px black;
    border-radius: 5px;
   z-index: 9999;
    
  }
  .main-menu ul li{
    width: 260px;
  }

.main-menu ul li a{
  color: white;
  padding: 13px 115px;
  display: block;
  font-size: 17px;
  text-decoration: none;
  
}
  i.bi.bi-three-dots-vertical {
    display: block;
    }
    i.bi.bi-envelope-fill{
    
      right: 48px;
      top: 5px;
    }
    .juwel{
      display: block;
      color: cornsilk;
      padding: 0px 5px;
      font-size: 20px;
      position: relative;
      top: 25px;
      font-family: monospace;
    }
     /* -----------------------------navbar responsive end---------------------- */


     .banner{
      background-image: url(../image/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
      background-position: top center;
      padding: 100px 0;
      background-repeat: no-repeat;
      background-size: cover;
     
    }

    .banner h1{
      color: rgb(241 21 72);
      z-index: 9999;
      font-size: 26px;
      text-align: center;
    }
    .banner p{
      text-align: center;
      font-size: 12px;
      color:white;
    }
    
    .banner h2{
      text-align: center;
      color: crimson;
      font-size: 20px;
    }
}
